<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    
    <dubbo:application name="cock"/>

    <dubbo:provider timeout="10000" retries="0" threadpool="fixed" threads="512"/>

    <dubbo:registry protocol="zookeeper" address="${zk.pro.url.rw}" />

    <dubbo:protocol name="dubbo" port="-1" />

    

</beans>





